body {
    background-color: black;
    color: white;
    font-size: 32pt;
    font-family: monospace;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: LightPink;
    text-decoration: none;
}

a:active {
    color: White;
    text-decoration: none;
}
